
.middle_code_editor_view_code {
  /*background-color: #DDDDDD;*/
  border-radius:4px;
}

.panel_body_sidebar {
  overflow:auto;
  height:100%;
  padding:4px;
}

.glyphicon_project {
  color: #000090;
}

.middle_code_editor_sidebar{
  width:360px;
}

div.middle_code_editor_view{
  position: absolute;
  overflow:hidden;
  padding: 4px 4px 4px 0px;
  right: 0px;
  bottom: 0px;
  left: 360px;
  top: 36px;
}

button.middle_code_editor_close {
  margin-left:8px;
}

div.editor_markup_name {
  display:inline-block;
  height:40px;
  padding-top:6px;
  padding-left:16px;
  font-weight: bold;
}